/*styling my login and signup pages*/
body.cover-image{
	background-image: url(../../assets/images/cover.jpg);
    background-size: 100%;
}
.cred{
	color:white;
}
div.login-content{
    width: 100%;
	height: 100%;
	position: fixed;
	left: 0%;
}
div.login-main{
    margin: 5% 37%;
	width: 25%;
	padding: 25px 5px 10px 5px;
	background-color: white;
	border:1px solid silver;
}
div.login-field{
    background-color: white;
	width: 70%;
	margin-left: 35px;
	border-radius: 5px;
	padding: 15px 15px;

}
div.login-heading{
	font-size: 15px;
    text-align: center;
}
div.login-heading p{
	font-size: 15px;
    text-align: center;
}
div.login-field input{
	border: 2px solid  violet;
	padding: 8px 10px;
	border-radius: 5px;
	margin-bottom:15px;
	width: 92%;
}
div.login-field form input[type="button"]{
	border: 2px solid violet;
	padding: 8px 10px;
	border-radius: 5px;
	width: 100%;
	background-color: #05386B;
    color: white;
}
div.login-field  button[type="submit"]{
	border: 2px solid violet;
	padding: 8px 10px;
	border-radius: 5px;
	width: 100%;
	background-color: #05386B;
    color: white;
}
div.login-main p.down{
    margin-bottom:30px;
    padding: px;
}

div.login-main p.down a{
	text-decoration:none;
    color: violet;
}
div.login-main p.down a.lft{
	float: left;
}

div.login-main p.down a.rgt{
	float: right;
}

/*styling the header*/
header{
	width: 100%;
	position: absolute;
	top:0%;
	left:0%;
	border-bottom: 1px solid silver;
	background-color: azure;
}
header h2{
	float: left;
	padding:10px;
	margin-left: 70px;
}
header ul{
	height: 30px;
	overflow:auto;
	list-style: none;
	float: right;
	padding: 10px;
	margin-right: 40px;
	top: 10px;
}
header ul li{
	display: inline;
	padding: 0px 0px 0px 15px;
}
header ul li a{
	text-decoration: none;
	color: violet;
	position: relative;
}
header ul li:hover a{
	color: black;

}
header ul li.active a{
	color: black;
}
/*styling the body*/
.main-image{
	background-image: url("../../assets/images/blank2.jpg");
	background-size: cover;
	
}
div.main-content{
	border:1px solid silver;
	position: absolute;
	margin-top: 120px;
	height: 500px;
	padding: 20px;
	margin-left: 100px;
	margin-right: 100px;
	background-color: antiquewhite;
}
div.home-image{
	position: absolute;
	border: 1px solid silver;
	margin-top: 300px;
	margin-left: 400px;
	height: 300px;
	width: 40%;
	background-color: white;
}
div.home-image img{
	position: absolute;
	margin: 10px;
	width: 96%;
	height: 250px;
}
/*styling menu items on the view food page*/
div.menu-item{
	border: 1px solid silver;
	background-color: white;
	width: 1100px;
	border-radius: 5px;
	height: 400px;
	position: relative;
	overflow: auto;
	padding: 5px;
	
}
div.menu-item ul li{
	list-style: none;
	position: relative;
}
div.menu-item h4{
	display: inline;
	padding:10px;	
}
div.menu-item img{
	height: 150px;
	width: 150px;
	border-radius: 5px;
}
p.food-links label a{
	text-decoration:none;
	color: purple;
}
/*styling menu items on the order page*/
div.menu-item2{
	border: 1px solid silver;
	background-color: white;
	width: 500px;
	border-radius: 5px;
	height: 400px;
	position: relative;
	overflow: auto;
	padding: 10px;
	
}
div.menu-item2 ul li{
	list-style: none;
	position: relative;
}
div.menu-item2 h4{
	display: inline;
	padding:10px;	
}
div.menu-item2 img{
	height: 150px;
	width: 150px;
	border-radius: 5px;
}
/*styling the order form*/
div.order-content{
	border: 1px solid silver;
	background-color: white;
	width:500px;
	border-radius: 5px;
	height: 400px;
	position: relative;
	overflow: auto;
	padding: 10px;
	float: right;
	margin: 1px;
}
div.order-content tr td input{
	margin: 2px;
}
div.order-content input{
	border: 1px solid violet;
	border-radius: 5px;
	padding: 3px;
}
div.order-content select{
	border: 1px solid violet;
	border-radius: 5px;
	padding: 3px;
}
div.order-content form input[type="submit"]{
	background-color: #05386B;
	color: white;	
	padding: 5px 8px;
}
div.order-content form input[type="reset"]{
	background-color: #05386B;
	color: white;
	padding: 5px 8px;
}
/*styling the addfood item form*/
div.add-item{
	border: 1px solid silver;
	background-color: white;
	width: 1100px;
	border-radius: 5px;
	height: 400px;
	position: relative;
	overflow: auto;
	padding: 10px;
}
div.add-inner{
	border: 1px solid silver;
	background-color: white;
	width: 500px;
	height: 300px;
	position:relative;
	overflow:auto;
	padding:20px;
	margin:10px 255px;
	border-radius: 5px;
}
div.add-inner input{
	border-radius: 5px;
	border: 1px solid violet;
	padding:8px;
	margin:5px;
}
div.add-inner form input[type="submit"] {
	background-color: #05386B;
	color: white;
	padding: 5px 8px;
}
div.add-inner form input[type="reset"] {
	background-color: #05386B;
	color: white;
	padding: 5px 8px;
}
div.add-inner form input[type="file"] {
	background-color: #05386B;
	color: white;
	padding: 5px 8px;
}
/*styling the vieworders page*/
div.order-section{
	border: 1px solid silver;
	background-color: white;
	width: 1100px;
	border-radius: 5px;
	height: 400px;
	position: relative;
	overflow: auto;
	padding: 5px;
	text-align: left;
	
}
div.order-section a{
	text-decoration: none;
	color: purple;
}
div.order-section p{
	color: purple;
	}
div.order-section table{
	border: 0.5px solid silver;
	width: 1100px;
	height: 400px;
	overflow: auto;
}
/*styling the history page*/
div.hist-image{
	border: 1px solid silver;
	background-color: white;
	width:250px;
	border-radius:5px;
	height: 400px;
	position: relative;
	overflow: auto;
	padding: 5px;
	

}
div.hist-image img{
	border-radius: 5px;
	height: 250px;
	width: 250px;
}
div.hist-section{
	border: 1px solid silver;
	background-color: white;
	height: 400px;
	width: 825px;
	border-radius:5px;
	float:right;
	position: relative;
	overflow: auto;
	margin: 3px;
	padding: 10px;
}
div.hist-section table{
	border: 0.5px solid silver;
	width: 818px;
	height: 400px;
	overflow: auto;
	text-align: left;
	padding: 10px;
}




